
/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.img-box>img, .img-box>svg {
	width: 100%;
	display: block;
}

.video-box>video {
	width: 100%;
	display: block;
}

.border-red {
	border:10px solid red;
}



/* 다른 애들을 이기기 위해 억지로 만들어낸것 */
html > head + body:nth-child(2) .height-100px {
	min-height:100px !important ;

}


/* !important 의미 : 우선 순위를 가장 높이 올려버리는__남용하면 좋은 것은 아니다.*/
/* 아래 예시	write 페이지의 textarea를 min-height로 하고 .height-100px 을 !important했더니 먹지 않았으나 동일하게 min-을 적용하니 css가 입혀짐   */

/* .height-100px {
	min-height:100px !important;

} */

.margin-top-20 {
	margin-top:20px;
}

.margin-top-30 {
	margin-top:30px;
}

.padding-0-10 {
	padding-left:10px;
	padding-right:10px;
}


.padding-0-20 {
	padding-left:20px;
	padding-right:20px;
}


.padding-10-0 {
	padding-top:10px;
	padding-bottom:10px;
}

.padding-20-0 {
	padding-top:20px;
	padding-bottom:20px;
}




.bg-white {
	background-color:white;
}

.padding-10 {
	padding:10px;
}

.form1 th {
	/* `로그인 아이디`, 첨부 비디오 문구가 줄 바꿈 될 때 공백기준으로 줄바꿈 되도록 */
	word-break:keep-all;
}

/* flex 관련 */

.flex {
	display:flex;
}

.flex-ai-c {
	align-items: center;
}

.flex-jc-c {
	justify-content: center;
}


.flex-jc-sb {
    justify-content: space-between;
}





/* 테이블 관련 */
.table-box>table {
	width: 100%;
	border-collapse: collapse;
}

.table-box>table th, .table-box>table td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}


/* 폼 관련  */


.form1 .form-control-box>input, .form1 .form-control-box> textarea {
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

.form1 .form-control-box >textarea {
	min-height:300px;
/* 	height:300px; */
	resize:none;
	
}

.form1 .form-control-box .height-100px {
	min-height:100px;
	
}


.form1 .form-row {
	display:flex;
}

.form1 .form-row > .form-control-label {
	display:flex;
	align-items:center;
	padding:10px;
}


.form1 .form-row > .form-control-box {
	display:flex;
	align-items:center;
	padding:10px;
}






/* 버튼관련 */
.btn {
    padding:5px 15px;
    display: inline-flex;
    font-weight: bold;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #3D94F6;
    color: #FFFFFF;
    text-shadow: 1px 1px 20px #000000;
}

.template-box {
	display:none;
}

/* 샘은 이거 다시 빼셨음. 뭔지 확인해보고 이상하면 빼기 */
.page-title-box {
	margin-top:30px;
	margin-bottom:30px;
} 


.btn:hover {
    background-color: #1E62D0;
}

.btn-success {
    background-color: green;
}

.btn-danger {
    background-color: red;
}


/* head.jspf __ outer-box 시작 */

.outer-box  {
}
.outer-box .menu-box > ul  {
}
.outer-box .menu-box > ul > li  {
	display:inline-block;
}

.outer-box .menu-box > ul > li > a {
	display:block;
	padding:10px;
}

.outer-box .menu-box  ul  li:hover  a:first-child {
	color:blue;
	font-weight:bold;
}
/* head.jspf __ outer-box 끝 */